* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-theme: #1b1d1c;
}
body {
  background-color: var(--primary-theme);
  color: white;
}
header {
  background-color: #1b1d1cee;
  width: 100%;
  height: 4em;
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.5em;
  color: teal;
  font-weight: bold;
  margin-left: 30px;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8vw;
}
.nav-container ul {
  display: flex;
}
.nav-container li {
  list-style-type: none;
  padding: 2px 15px 2px 15px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.nav-container li:nth-child(1) {
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 4px;
  align-items: center;
}
.nav-container li:hover {
  background-color: rgba(255, 255, 255, 0.093);
  transition: all 0.5s;
}

.nav img {
  display: inline-block;
  width: 18px;
  filter: invert(1);
  margin-right: 10px;
}

.home-nav,
.faq-nav,
.req-nav,
.theme-nav,
.explore-nav,
.search-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.home-nav .tooltip,
.faq-nav .tooltip,
.req-nav .tooltip,
.theme-nav .tooltip,
.explore-nav .tooltip,
.search-nav .tooltip {
  position: absolute;
  background-color: rgba(87, 87, 87, 0.864);
  color: white;
  font-size: 10px;
  padding: 8px;
  border-radius: 2px;
  white-space: nowrap;
  font-weight: normal;
  visibility: hidden;
  bottom: -40px;
  transition: opacity 0.5s ease-in-out;
}

.home-nav:hover .tooltip,
.faq-nav:hover .tooltip,
.req-nav:hover .tooltip,
.theme-nav:hover .tooltip,
.explore-nav:hover .tooltip,
.search-nav:hover .tooltip {
  visibility: visible;
}

.btn-container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.btn-container button {
  display: inline-block;
  padding: 2px 15px 2px 15px;
  transition: all 0.5s ease-in-out;
  margin: 0;
}
.btn-container button:hover {
  background-color: rgba(255, 255, 255, 0.093);
  transition: all 0.5s;
}
.btn-container a {
  font-size: 12px;
  font-weight: bold;
}
.search-nav {
  border: none;
}
.signin-btn {
  border: 1px solid rgba(255, 255, 255, 0.178);
}

.nav-btn {
  background-color: transparent;
  border-radius: 5px;
  margin-right: 50px;
}

/* slider section*/
.slider {
  position: relative;
  background-color: #00011604;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  cursor: pointer;
  margin-top: 4em;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at center);
}
.slider .slide.active {
  clip-path: circle(150% at 50%);
  transition: 1.5s;
}
.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.slider .slide h3 {
  position: absolute;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: white;
}

.slider .slide-nav {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  margin: 40px;
  color: aquamarine;
  border-radius: 500px;
}
.prev-btn:active,
.next-btn:active {
  background-color: gray;
}

/*indicator css*/
.indicator {
  display: flex;
  justify-content: center;
}
.slide-indicator {
  display: inline-block;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  transform: translateY(-3vh);
  margin: 0 10px;
  border-radius: 100px;
  cursor: pointer;
}

.indicator .slide-indicator.active {
  background-color: rgba(255, 255, 255, 0.188);
}

/* Recommended Section */
.panel-container h1 {
  text-align: left;
  margin-top: 20px;
  margin-left: 3vw;
  margin-bottom: 20px;
  font-size: 18px;
  display: inline-block;
}
.panel-container h1 i {
  font-size: 24px;
  margin-left: 20px;
  text-align: center;
}

/*continu watching*/
.content {
  width: 100%;
}
.continue {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue p {
  font-size: 14px;
}

/* latest section*/
.panel-container .latest-section,
.panel-container .kdrama-section,
.panel-container .cdrama-section,
.panel-container .hollywood-section,
.panel-container .anime-section,
.panel-container .upcoming-section {
  margin-left: 2vw;
  display: block;
}
.panel {
  background-color: #393c3b;
  border-radius: 5px;
  width: 20vw;
  height: 30vh;
  margin-right: 15px;
  cursor: pointer;
}
.panel img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 70%;
}

.panel h5 {
  position: absolute;
  bottom: 70px;
  right: 15px;
  display: flex;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.292);
  border-radius: 15%;
  text-align: center;
}

.panel h4 {
  margin-left: 10px;
}

.latest-section .flickity-button,
.kdrama-section .flickity-button,
.cdrama-section .flickity-button,
.hollywood-section .flickity-button,
.anime-section .flickity-button,
.upcoming-section .flickity-button {
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.latest-section .flickity-button:hover,
.kdrama-section .flickity-button:hover,
.cdrama-section .flickity-button:hover,
.hollywood-section .flickity-button:hover,
.anime-section .flickity-button:hover,
.upcoming-section .flickity-button:hover {
  background-color: rgba(255, 255, 255, 0.616);
}

.terms {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.terms p {
  margin-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
.footer {
  background-color: #232524;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer p {
  font-size: 10px;
}
.footer img {
  width: 70px;
  height: 22px;
}

.hamburger-lines {
  display: none;
}

@media (max-width: 1007px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
  }
  .slider {
    margin-top: 3em;
  }
  .nav-container {
    display: none;
  }

  .logo-menu {
    display: flex;
    align-items: center;
  }
  .logo {
    z-index: 2;
  }

  .hamburger-lines {
    overflow: hidden;
    height: 12px;
    width: 16px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 30px;
  }
  .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 20px;
    background: #ffffff;
  }
  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line2 {
    transition: transform 0.5s ease-in-out;
  }
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .line1.transition1 {
    transform: rotate(45deg) translate(1px, -2px);
  }
  .line2.transition2 {
    transform: translateX(-80px);
  }
  .line3.transition3 {
    transform: rotate(-45deg) translate(1px, 1px);
  }

  .btn-container {
    width: 200px;
    display: flex;
    justify-content: end;
  }
  .btn-container button {
    display: inline-block;
    padding: 2px 0 2px 10px;
  }
  .btn-container .signin-btn {
    padding: 2px 10px 2px 10px;
  }
  .search-nav {
    display: flex;
    align-items: centers;
    justify-content: center;
  }
  .search-nav a span {
    display: none;
  }
  .nav-container {
    margin: 0;
    z-index: 1;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -70%;
    width: 45%;
    height: 100vh;
    background-color: #1b1d1c;
    display: flex;
    justify-content: center;
    box-shadow: 5px 1px 10px 1px var(--secondary-color);
    user-select: none;
    transition: all 0.5s ease-in-out;
  }
  .nav-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
    border-top: 1px solid var(--secondary-color);
    margin-top: -16em;
  }
  .nav-container ul li {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .nav-container ul li:nth-child(1) {
    border-top: 2px solid gray;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nav-container ul li::before,
  .nav-container ul li::after {
    display: none;
  }

  .nav-container ul li:active {
    background-color: #b9b7bd;
  }

  .nav-container ul li a {
    font-size: 13px;
    text-transform: uppercase;
  }
  .nav-container.show {
    visibility: visible;
    transition: all 0.5s ease-in-out;
    left: 0;
  }
  .home-nav:hover .tooltip,
  .faq-nav:hover .tooltip,
  .req-nav:hover .tooltip,
  .theme-nav:hover .tooltip,
  .explore-nav:hover .tooltip,
  .search-nav:hover .tooltip {
    visibility: hidden;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  .slider {
    position: relative;
    background-color: #00011604;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    cursor: pointer;
  }
  .slider .slide-nav {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .panel-container h1,
  .panel-container h1 i {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .panel {
    width: 35vw;
    height: 30vh;
    font-size: 14px;
    margin-right: 10px;
  }
  .panel img {
    width: 100%;
    height: 80%;
  }
  .panel h5 {
    position: absolute;
    bottom: 45px;
    right: 10px;
  }
}

@media (max-width: 640px) {
  .slider {
    position: relative;
    background-color: #00011604;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    cursor: pointer;
  }
  .slider .slide-nav {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .panel-container h1,
  .panel-container h1 i {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .panel {
    width: 43vw;
    height: 23vh;
    font-size: 12px;
    margin-right: 5px;
  }
  .panel img {
    width: 100%;
    height: 70%;
  }
  .panel h5 {
    position: absolute;
    bottom: 50px;
    right: 10px;
  }
}
